<h1>Group Arc</h1>

<li><%= link_to "Student Login", studentlogin_path %></li>
<li><%= link_to "Instructor Login", instructorlogin_path %></li>
<nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Student Registration", studentsignup_path %></li>
        <li><%= link_to "Instructor Registration", instructorsignup_path %></li>
      </ul>
</nav>