<% provide(:title, 'Team Creation') %>
<h1>Team Creation</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'team/new_team_form', locals: { team: @team } %>
  </div>
</div>