<% provide(:title, 'Team Collaboration Creation') %>
<h1>Team Collaboration Set up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= render :partial => 'team_collaboration/form', locals: { teamCollaboration: @teamCollaboration } %>
  </div>
</div>